<h2> Server Signup Page</h2>

<form action="/servers" method="POST">
  <p>
    <lable for="email">Email:</lable>
    <input type="text" name="email" id="email"/>
  </p>
  <p>
    <lable for="username">Username:</lable>
    <input type="text" name="username" />
  </p>
  <p>
    <lable for="password">Password:</lable>
    <input type="text" name="password" id="password"/>
  </p>


  <input type="submit" id="submit" placeholder="Signup" />

</form>
