<h2> Server Signup Page</h2>

<form action="/servers" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"/>
  </p>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password"/>
  </p>
  <p>
    <label for="section">Section:</label>
    <% Section.available .each do |section| %>
     <label><%= section.letter %></label>
    <input id="<%= section.letter %>" type="checkbox" name="section[]" value="<%= section.id %>"/>
    <% end %>
  </p>

  <input type="submit" id="submit" value="Signup" />

</form>
