<h2><% @server.username%> Show Page</h2>
<p>
<h3>Name: <% @server.username%></h3>
</p>
<h3>Email: <% @server.email%></h3>

<h3>Shift: <% @server.shift%></h3>


<a class="button" href="/orders/new">Start an Order</a>

<ul>
<a class="button" href="/logout">Logout</a>
<a class="button" href="/serverr/:slug/edit">Edit your profile</a>
</ul>
