<h1> Welcome to the Server Management Tool </h1>

<ul>
<p><a class="button" href="/login">Server Login</a>
<a class="button" href="/servers">Servers List</a></p>
<p><a class="button" href="/logout">Logout</a>
<a class="button" href="/servers/signup">Server Signup</a></p>

</ul>
